{% extends 'core/base.html' %}

{% block title %} {{ client.first_name}} {% endblock %}

{% block content %}
<div class="py-6 px-6">
    <h1 class="mb-4 tet-xl font-semibold text-xl"> {{ client.first_name}} </h1>

    {% if client.description %}
    <p class="font-semibold">client Description</p>
    <p class="mb-4"> {{ client.description }} </p>
    {% endif %}

    <p class="font-semibold">Priority</p>
    <p class="mb-4"> {{ client.get_priority_display }} </p>

    <p class="font-semibold">Status</p>
    <p class="mb-4"> {{ client.get_status_display }} </p>

    <p class="font-semibold">Created at</p>
    <p class="mb-4"> {{ client.created_at }} </p>

    <p class="font-semibold">Moddified at</p>
    <p class="mb-4"> {{ client.modified_at }} </p>

    <hr class="my-4">

    <a href=" {% url 'clients:edit' client.id %} " class="py-2 px-4 rounded-xl bg-teal-500 text-white">Update Customer</a>
    <a href="{% url 'clients:delete' client.id %}" class="py-2 px-4 rounded-xl bg-red-500 text-white">Delete Customer</a>
    <a href=" /" class="py-2 px-4 rounded-xl bg-blue-500 text-white">Convert back to
        lead</a>

    <hr class="my-4">

    <a href="/">Back to clients</a>
</div>


    <h2 class="text-xl mb-6">Comments</h2>
    <div class="flex space-x-4 mb-6">
        <hr class="my-4">
    
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="py-2 px-4 rounded-xl bg-blue-500 text-white" type="submit">Add Comment</button>
        </form>

        <hr class="my-4">

        <div class="space-y-4">
            {% for comment in client.comments.all %}
            <div class="bg-gray-100 py-6 px-6 rounded-xl">
                <div class="mb-4">
                    <p class="mb-2">
                        <strong>{{ comment.created_by }}</strong> @ {{ comment.created_at}}
                    </p>
                    <p>
                        {{comment.content}}
                    </p>
                </div>
                
                <div>
                    <p>
                        <a href=" {% url 'clients:edit_comment' pk=comment.pk %} "
                            class="py-2 px-4 rounded-xl bg-teal-500 text-white">Edit</a>
                        <a href=" {% url 'clients:delete_comment' pk=comment.pk %}"
                            class="py-2 px-4 rounded-xl bg-red-500 text-white">Delet</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}